.homePage{
  display: flex;
  flex-direction: column;
  .equNum{
    display: flex;
    justify-content: space-between;
    .equ{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 17%;
      height: 74px;
      margin: 5px 8px;
      background: #fff;
    }
  }
}