.equipset {
  height: 100%;
  padding: 30px;
}
.equipset .onlyadd .baseinfo {
  width: 250px;
  line-height: 50px;
  text-align: center;
  padding: 0 16px;
  background: #006fe4;
  border: 1px solid #006fe4;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 2px;
}
.equipset .definfo {
  border: 1px solid #eeeeee;
  background: #f8f8f8;
}
.equipset .definfo .infowrap {
  width: 100%;
}
.equipset .definfo .infowrap .label {
  text-align: right;
  display: inline-block;
  width: 25%;
  margin-right: 20px;
}
.equipset .threshold {
  border: 1px solid #eeeeee;
  background: #f8f8f8;
  width: 40%;
}
.equipset .threshold .thresholdtit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #eeeeee;
}
.equipset .threshold .thresholesetWrap {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.equipset .threshold .thresholesetWrap .thresholdlabel {
  border: 1px solid #eeeeee;
  text-align: center;
  width: 20%;
  padding: 4px;
}
.equipset .threshold .thresholesetWrap .thresholdset {
  width: 60%;
}
.equipset .threshold .thresholesetWrap .thresholdrest {
  border: 1px solid #eeeeee;
  width: 10%;
  text-align: center;
  padding: 4px;
}
.equipset .verhorcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.equipset .ant-tabs-nav-container {
  height: 50px !important;
}
.equipset .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  color: #646464 !important;
  background: #e5e5e5 !important;
  height: 50px;
  width: 250px;
  text-align: center;
}
.equipset .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .camera {
  background: url('../imgs/cameranot.png') no-repeat 4px;
  padding-left: 60px;
}
.equipset .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .deftime {
  background: url('../imgs/deftimenot.png') no-repeat 4px;
  padding-left: 60px;
}
.equipset .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  height: 50px;
  color: #fff !important;
  background: #006fe4 !important;
}
.equipset .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active .camera {
  background: url('../imgs/camera.png') no-repeat 4px;
  padding-left: 60px;
}
.equipset .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active .deftime {
  background: url('../imgs/deftime.png') no-repeat 4px;
  padding-left: 60px;
}
.equipset .ant-tabs {
  height: 98%;
}
.equipset .backdrop {
  display: inline-block;
  width: 100%;
  height: auto;
}
.equipset .defopt {
  height: 622px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background: #f8f8f8;
}
.equipset .defopt .optlabel,
.equipset .defopt .optbtn {
  display: inline-block;
}
.equipset .defopt .optbtn {
  margin-left: 30px;
}
.equipset .defopt .optbtn .ant-btn {
  margin-left: 10px;
}
.equipset .ant-list-bordered .ant-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.equipset .ant-list-bordered .ant-list-item:hover {
  color: #fd9c52;
}
.equipset .defopt::before,
.equipset .defopt::after {
  width: 0px;
  height: 0px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent #f8f8f8 transparent transparent;
  position: absolute;
  content: ' ';
  left: -22px;
  top: 40px;
}
.equipset .defopt::before {
  border-color: transparent #eeeeee transparent transparent;
  left: -24px;
  top: 40px;
}
/*# sourceMappingURL=equipset.css.map */