.equip {
  height: 100%;
  padding: 30px;
  position: relative;

  .clearfix::after {
    content: '';
    clear: both;
    display: block;
  }


  .elli {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .mulelli {
    display: webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .equipWrap {
    position: relative;

    .deleteEquip {
      font-size: 30px;
      position: absolute;
      color: #fff;
      top: 5px;
      right: 10px;
      z-index: 10;

    }
  }


  .ant-card-body {
    padding: 0;

  }

  .card {
    height: 100%;
  }

  .tit {
    position: absolute;
    bottom: 45px;
    left: 0;
    background: rgba(36, 52, 74, .8);
    color: #fff;
    width: 100%;
    padding: 1px 4px;

    .titpoint {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #fe7200;
      border-radius: 5px;
      margin: 0 10px;
    }
  }

  .ant-card-actions>li {
    margin: 10px 0;
  }

  .extra {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }

  .pagination {
    position: absolute;
    bottom: 10px;
    left: 28%;
  }

}