.electronicMap{
  position: relative;
  .input-card{
    position: absolute;
    bottom: 1%;
    right: 0;
    .input-item{
      height: 2.2rem;
    }
    .btn{
      width: 6rem;
      margin: 0 1rem 0 2rem;
    }
    .input-text{
      width: 4rem;
      margin-right:1rem;
    }
  }

}