.ploceinfomation{
  background-color: #f0f2f5;
  .ploceinfomation-query{
    height: 60px;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    .select-camera{
      margin-left: 13px;
      color: #4159a1;
      font-family: 黑体;
    }
    .select-form{
      margin-left: 20px;
      width: 60%;
    }
    .falsealarm{
      height: 100%;
      .alert-col{
        display: flex;
        justify-content: center;
        .alert{
          height: 30px;
          width: 60%;
          background-color: #ff7200;
          border-radius: 60px 60px 60px 60px;
          .zdupdate-word{
            line-height: 30px;
            color: #fff;
            font-family: 黑体;
            font-size: 14px;
            margin-left: 15px;
            float: left;
          }
          .cicrle{
            width: 17px;
            height: 17px;
            background-color: #fff;
            border-radius: 50%;
            float: right;
            margin: 7px;
            .cicrle-icon{
              color: #ff7200;
            }
          }
        }
        .falsealert{
          height: 30px;
          width: 60%;
          background-color: #8580c1;
          border-radius: 60px 60px 60px 60px;
          .zdupdate-word{
            line-height: 30px;
            color: #fff;
            font-family: 黑体;
            font-size: 14px;
            margin-left: 15px;
            float: left;
          }
          .cicrle{
            width: 17px;
            height: 17px;
            background-color: #fff;
            border-radius: 50%;
            float: right;
            margin: 7px;
            .cicrle-icon{
              color: #8580c1;
            }
          }
        }
        .xualert{
          height: 30px;
          width: 60%;
          background-color: #b28850;
          border-radius: 60px 60px 60px 60px;
          .zdupdate-word{
            line-height: 30px;
            color: #fff;
            font-family: 黑体;
            font-size: 14px;
            margin-left: 15px;
            float: left;
          }
          .cicrle{
            width: 17px;
            height: 17px;
            background-color: #fff;
            border-radius: 50%;
            float: right;
            margin: 7px;
            .cicrle-icon{
              color: #b28850;
            }
          }
        }
      }

    }
    .select-time{
      color: #4159a1;
      font-family: 黑体;
    }
    .select-time-form{
      margin-left: 20px;
      color: #4159a1;
      font-family: 黑体;
    }
    .query-btn{
      margin-left: 20px;
      background-color: #006fe4;
      border: none;
    }
  }
  .ploceinfomation-main{
    height: 400px;
    background-color: #f0f2f5;
    margin-top: 15px;
    .main-left{
      background-color: #fff;
      height: 100%;
      width: 69%;
      float: left;
      .main-left-L{
        height: 360px;
        padding: 20px 20px 0 20px;
        .swiper-container{
          margin-top: 2px;
          .prev{
            position: absolute;
            top: 24%;
            left: 10px;
            margin-top: -22px;
            z-index: 10;
            cursor: pointer;
            color: #fff;
          }
          .next{
            position: absolute;
            top: 24%;
            right:10px;
            margin-top: -22px;
            z-index: 10;
            cursor: pointer;
            color: #fff;
          }
        }
        .img-up-fu{
          width: 100%;
          height: 78%;
          background: url("../../style/imgs/testl.png") no-repeat;
          background-size:100% 100%;
          display: flex;
          align-items: flex-end;
          .img-up-fu-word{
            width: 100%;
            height: 40px;
            background-color: #0d3b78;
            opacity:0.5;
            display: flex;
            align-items: center;
            .img-up-fu-word-span{
              color: #fff;
              font-size: 13px;
              font-family: 黑体;
             margin-left: 15px;
            }
            .circle{
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #ff7200;
              margin-left: 30px;
            }
          }
        }
      }
      .main-left-R{
        height: 360px;
        padding:20px 20px 0 0;
      }
      .updown{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 13px;
        color: #b9b9b9;
        .updown-left{
          margin: 0 10px;
          width: 20px;
          height: 20px;
          background-color: #b9b9b9;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
      }
    }
    .main-right{
      float: right;
      background-color: #f0f2f5;
      width: 30%;
      height: 100%;
      .up{
        background-color: #fff;
        width: 100%;
        height: 70%;
        .equipName{
          margin:0 auto 20px auto;
          width: 90%;
          height: 35px;
          color: #4159a1;
          font-family: 黑体;
          .equipName-left{
            height: 100%;
            background-color: #f3f3f5;
            border-right: #e4e4e5 solid 1px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .equipName-right{
            height: 100%;
            background-color: #f3f3f5;
            display: flex;
            align-items: center;
            .equipName-right-word{
              margin-left: 20px;
            }
          }
          .equipName-right-caralarm{
            height: 100%;
            background-color: #f3f3f5;
            display: flex;
            align-items: center;
            color: #cbcbcb;
            .equipName-right-word{
              margin-left: 20px;
            }
          }
        }
        .showTaget{
          margin: auto;
          height: 90px;
          width: 90%;
          .showfq{
            width: 90px;
            height: 25px;
            background-color: #006fe4;
            border-radius:  25px ;
            margin-right: 30px;
            margin-top: 10px;
            .zdupdate-word{
              line-height: 25px;
              color: #fff;
              font-family: 黑体;
              font-size: 13px;
              margin-left: 5px;
              float: left;
            }
            .cicrle{
              width: 15px;
              height: 15px;
              background-color: #fff;
              border-radius: 50%;
              float: right;
              margin: 5px;
              .cicrle-icon{
                color: #006fe4;
              }
            }
          }
          .addqc{
            background-color: #1ECD6E;
            .addqcdiv{
              height: 60px;
              background-color: #f3f3f5;
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: 黑体;
              color: #4159a1;
            }
          }
        }
      }
      .down{
        background-color: #fff;
        width: 100%;
        height: 27%;
        margin-top: 10px;
        .alarmcl{
          width: 90px;
          height: 90px;
          margin: 10px auto;
          border-right: #ededed 1px solid;
          .alarmcl-img{
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .alarmcl-word{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 黑体;
            color: #006fe4;
          }
        }
        .alarmq{
          width: 75%;
          height: 35px;
          background-color: #ff7200;
          margin: 12px auto;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .alarmx{
          width: 75%;
          height: 35px;
          background-color: #b28850;
          margin: 12px auto;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .ploceinfomation-update{
    height: 60px;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    align-items: center;
    .updata-word{
      margin-left: 13px;
      margin-top: 10px;
      color: #4159a1;
      font-family: 黑体;
      font-size: 14px;
      float: left;
    }
    .updata-Num{
      float: left;
      margin-left: 30px;
      width: 60px;
      height: 35px;
      background-color: #f3f3f5;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4159a1;
      font-family: 黑体;
    }
    .zdupdate-col{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .zdupdate{
        width: 90px;
        height: 25px;
        background-color: #006fe4;
        border-radius:  25px ;
        margin-right: 30px;
        .zdupdate-word{
          line-height: 25px;
          color: #fff;
          font-family: 黑体;
          font-size: 13px;
          margin-left: 5px;
          float: left;
        }
        .cicrle{
          width: 15px;
          height: 15px;
          background-color: #fff;
          border-radius: 50%;
          float: right;
          margin: 5px;
          .cicrle-icon{
            color: #006fe4;
          }
        }
      }
    }
  }
  .ploceinfomation-bottom{
    height: 230px;
    background-color: #f0f2f5;
    margin-top: 2px;
    .ploceinfomation-bottom-item{
      height: 230px;
      width: 20%;
      background-color: #f0f2f5;
      float: left;
      .ploceinfomation-bottom-item-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
        height: 100%;
        background-color: #fff;
        .ploceinfomation-bottom-item-img{
          width: 90%;
          height: 90%;
          background: url("../../style/imgs/testl.png") no-repeat;
          background-size:100% 100%;
          .up{
            width: 100%;
            height: 50%;
            .mark{
              float: left;
              width: 70px;
              height: 23px;
              background-color: #006fe4;
              margin-top: 10px;
              border-radius: 0 23px 23px 0;
              display: flex;
              align-items: center;
              .cicler{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #fff;
                margin-left: 10px;
              }
              .word{
                color: #fff;
                font-family: 黑体;
                font-size: 11px;
                margin-left: 5px;
              }
            }
            .time{
              float: right;
              width: 130px;
              height: 20px;
              background-color: #0b3449;
              margin-top: 15px;
              border-radius:  20px ;
              margin-right: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              .tiem-word{
                font-size: 10px;
                font-family: 黑体;
                color: #fff;
              }
            }
          }
          .down{
            width: 100%;
            height: 50%;
            display: flex;
            align-items: flex-end;
            .img-up-fu-word{
              width: 100%;
              height: 25px;
              background-color: #0d3b78;
              opacity:0.5;
              display: flex;
              align-items: center;
              .img-up-fu-word-span{
                color: #fff;
                font-size: 10px;
                font-family: 黑体;
                margin-left: 5px;
              }
              .circle{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #ff7200;
                margin-left: 10px;
              }
              .icondian{
                color: #fff;
                margin-left: 55%;
              }
            }
          }
        }
      }
    }
  }
}